@import "../../assets/style/variables.scss";

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 260px;
  height: 100vh;
  left: 0px;
  top: 66px;
  background: $gray2;
  box-shadow: inset;
  font-size: 0.875rem;
  transition: width 0.2s ease-out 0.1s;
  padding-bottom: 66px;

  &.close:not(:disabled):not(.disabled):hover,
  .close:not(:disabled):not(.disabled):focus {
    opacity: 1;
  }

  ul {
    margin: 0 auto;
    display: flex;
    //padding: 10px;
    flex-direction: column;
    list-style: none;
  }

  .category {
    color: #868e96;
    font-size: 14px;
    font-weight: 500;
    line-height: 1rem;
    border-top: 1px solid $gray4;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    white-space: nowrap;
  }

  a {
    text-decoration: none;
    color: black;
    line-height: 24px;
    padding: 0;
    :hover :active :link :visited {
      text-decoration: none;
    }

    li {
      display: flex;
      align-items: center;
      flex-direction: row;
      list-style-type: none;
      padding: 12px 24px;
      background-color: inherit;
      height: 3.25rem;

      svg {
        color: $gray7;
        flex-shrink: 0;
      }

      .link-text {
        padding-left: 16px;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        color: $gray7;
        white-space: nowrap;
        transition: width 0.2s ease-out 0.1s;
      }

      &:hover {
        svg {
          &[data-view="Employee"] {
            color: $blue;
          }
          &[data-view="CO"] {
            color: $orange;
          }
        }

        .link-text {
          &[data-view="Employee"] {
            color: $blue;
          }
          &[data-view="CO"] {
            color: $orange;
          }
        }
      }
    }

    &.is-active {
      li {
        svg {
          color: $gray0;
        }

        .link-text {
          color: $gray0;
        }
        .coip {
          fill: #fff;
        }
        .coi:hover .coip {
          fill: #fff;
        }

        &:hover {
          svg {
            color: $gray0;
          }

          .link-text {
            color: $gray0;
          }
        }
      }
    }
  }

  &.close {
    width: 72px;
    opacity: 1;

    .link-text {
      display: none;
      transition: width 0.2s ease-out 0.1s;
    }
    .category {
      display: none;
    }
    ul {
      padding: 0px;
      left: 0px;
      top: 56px;
      align-items: stretch;

      li {
        flex-direction: row;
      }
    }
  }

  @media only screen and (max-width: 978px) {
    #sidebar {
      display: none;
    }
  }
}
