.main-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  top: 66px;
  bottom: 0px;
  max-width: 100%;
  transition: all 0.2s ease-out 0.1s;
  padding: 20px;
}

.main-user-content {
  left: 300px;
  width: calc(100% - 300px);
  top: 20px;
}
.main-admin-content {
  left: 300px;
  width: calc(100% - 300px);
  top: 0px;
}

.form-container {
  .form-header {
    span {
      margin-left: 5px;
    }
    svg {
      cursor: pointer;
    }
    display: flex;
    align-items: center;
    align-content: center;
    font-weight: bold;
    padding-bottom: 10px;
    color: rgb(33, 72, 105);
  }
  .form-body {
    margin-top: 10px;
    padding: 10px;
  }
  .form-check-input {
    width: 20px;
    height: 20px;
  }
}

.modal-form-body {
  .button-section {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: flex-end;
    justify-content: flex-end;
    button {
      margin-right: 10px;
    }
  }
}

.blog-post-table {
  .blog-search-bar {
    display: flex;
    justify-content: flex-end;
    .form-control {
      width: auto;
    }
  }
}
