.main-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: calc(100% - 260px);
  right: 0px;
  top: 66px;
  bottom: 0px;
  left: 260px;
  max-width: 100%;
  transition: all 0.2s ease-out 0.1s;
  padding: 20px;
}
